<%- include("header") -%>

<h1>hello! My self Gaurav</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium repellendus tempora assumenda cumque, voluptatibus velit nobis accusantium. Dolores iste harum, suscipit velit esse dignissimos mollitia earum veniam, nisi deleniti dolor.</p>

<%- include("footer") -%>
